<integrations>
    <integration name="sales_and_orders">
        <email>someone@example.com</email>
        <endpoint_url>http://app1.staging.salesandorders.com/api/magento/auth</endpoint_url>
        <identity_link_url>http://app1.staging.salesandorders.com</identity_link_url>
    </integration>
</integrations>
