<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_options>
        </custom_options>
        <oauth>
            <consumer>
                <expiration_period>1000000000000</expiration_period>
            </consumer>
        </oauth>
    </default>
</config>