<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SalesAndOrders\FeedTool\Api\RestCallbackInterface" type="SalesAndOrders\FeedTool\Model\RestCallback"/>
    <type name="Magento\Backend\Controller\Adminhtml\System\Store\Save">
        <plugin name="EditStore" type="SalesAndOrders\FeedTool\Plugin\EditStorePlugin" sortOrder="5" />
    </type>
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="EditSystemConfig" type="SalesAndOrders\FeedTool\Plugin\EditConfigPlugin" sortOrder="5" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="integration_module_page_listing_data_source" xsi:type="string">SalesAndOrders\FeedTool\Model\ResourceModel\WebHook\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SalesAndOrdersAcc" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">perspective_webhooks</argument>
            <argument name="resourceModel" xsi:type="string">SalesAndOrders\FeedTool\Model\ResourceModel\WebHook</argument>
        </arguments>
    </virtualType>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable\Price">
        <plugin name="feedtool_configurable_product_price" type="SalesAndOrders\FeedTool\Plugin\Product\Type\Configurable\Price"/>
    </type>
    <type name="Magento\Bundle\Model\Product\Price">
        <plugin name="feedtool_bundle_product_price" type="SalesAndOrders\FeedTool\Plugin\Product\Type\Bundle\Price"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Type\Price">
        <plugin name="feedtool_grouped_product_price" type="SalesAndOrders\FeedTool\Plugin\Product\Type\Grouped\Price"/>
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="feedtool_rest_product_get" type="SalesAndOrders\FeedTool\Plugin\Product\Type\Configurable\Get"/>
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="feedtool_rest_product_getlist" type="SalesAndOrders\FeedTool\Plugin\Product\Type\Configurable\GetList"/>
    </type>
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="add_dynamic_menu" type="SalesAndOrders\FeedTool\Plugin\Menu\BuilderPlugin" />
    </type>
    <type name="Magento\Backend\Controller\Adminhtml\System\Store\DeleteStorePost">
        <plugin name="delete_store_view_plugin" type="SalesAndOrders\FeedTool\Plugin\Admin\System\Store\DeleteStore" />
    </type>
    <type name="Magento\Integration\Controller\Adminhtml\Integration\Delete">
        <plugin name="delete_integration_plugin" type="SalesAndOrders\FeedTool\Plugin\Admin\System\Integration\Delete" />
    </type>
</config>