<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="custom_options" translate="label" sortOrder="1000001">
            <label><![CDATA[Sales & Orders]]></label>
        </tab>

        <section id="sando_filters" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Filters</label>
            <tab>custom_options</tab>
            <resource>SalesAndOrders_FeedTool::config</resource>
                <group id="filter" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Common</label>

                    <field id="is_salable" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" type="select">
                        <label>Salable products only</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="is_price" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" type="select">
                        <label>Price more than 1 cent</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="attribute_set" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" type="multiselect">
                        <label>Product Attribute Set</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Set</source_model>
                    </field>
                    <field id="product_type" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" type="multiselect">
                        <label>Products Types</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Type</source_model>
                    </field>
                </group>
                <group id="product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products</label>

                    <field id="exclude_id"  type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Exclude products by id</label>
                    </field>
                </group>
                <group id="category" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products related to the categories</label>

                    <field id="in_ex_clude_products"  type="radios" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Choose the condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Category\InEx</source_model>
                    </field>
                    <field id="cat_id"  type="multiselect" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Categories</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Category</source_model>
                    </field>

                </group>
                <group id="attribute" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom attribute</label>

                    <field id="label_1"  type="label" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 1</label>
                    </field>

                    <field id="field_1"  type="select" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_1"  type="select" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_1"  type="text" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                    <field id="label_2"  type="label" translate="label" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 2</label>
                    </field>

                    <field id="field_2"  type="select" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_2"  type="select" translate="label" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_2"  type="text" translate="label" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                    <field id="label_3"  type="label" translate="label" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 3</label>
                    </field>

                    <field id="field_3"  type="select" translate="label" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_3"  type="select" translate="label" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_3"  type="text" translate="label" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                    <field id="label_4"  type="label" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 4</label>
                    </field>

                    <field id="field_4"  type="select" translate="label" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_4"  type="select" translate="label" sortOrder="43" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_4"  type="text" translate="label" sortOrder="44" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>
                    <field id="label_5"  type="label" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 5</label>
                    </field>

                    <field id="field_5"  type="select" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_5"  type="select" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_5" type="text" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                    <field id="label_6"  type="label" translate="label" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 6</label>
                    </field>

                    <field id="field_6"  type="select" translate="label" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_6"  type="select" translate="label" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_6" type="text" translate="label" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                    <field id="label_7"  type="label" translate="label" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label># 7</label>
                    </field>

                    <field id="field_7"  type="select" translate="label" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Attribute</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute</source_model>
                    </field>
                    <field id="condition_7"  type="select" translate="label" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Condition</label>
                        <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Filter\Product\Attribute\Condition</source_model>
                    </field>
                    <field id="value_7" type="text" translate="label" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1" >
                        <label>Value</label>
                    </field>

                </group>
        </section>

        <section id="sando_develop" translate="label" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Development</label>
            <tab>custom_options</tab>
            <resource>SalesAndOrders_FeedTool::config</resource>

            <group id="environment_develop" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Development environment</label>
                <depends>
                    <field id="oauth_configs/deploy/mode">1</field>
                </depends>

                <field id="load_iframe" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load iframe URL</label>
                </field>

                <field id="integration_email" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Email</label>
                </field>
                <field id="integration_endpoint_url" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Endpoint URL</label>
                </field>
                <field id="integration_identity_link_url" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Identity Link URL</label>
                </field>
            </group>
            <group id="environment_staging" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Staging environment</label>
                <depends>
                    <field id="oauth_configs/deploy/mode">2</field>
                </depends>
                <field id="load_iframe" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load iframe URL</label>
                </field>

                <field id="integration_email" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Email</label>
                </field>
                <field id="integration_endpoint_url" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Endpoint URL</label>
                </field>
                <field id="integration_identity_link_url" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Integration Identity Link URL</label>
                </field>

            </group>
        </section>
        <section id="oauth_configs" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="10">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>custom_options</tab>
            <resource>SalesAndOrders_FeedTool::config</resource>
            <group id="custom_config" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Oauth configurations</label>
                <field id="load_iframe" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load iframe URL</label>
                </field>
            </group>

            <group id="deploy" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Systems</label>
                <field id="mode" type="select" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" >
                    <label>Sando mode</label>
                    <comment>Possible values default, develop, staging</comment>
                    <can_be_empty>0</can_be_empty>
                    <source_model>SalesAndOrders\FeedTool\Model\Config\Source\Mode</source_model>
                </field>
            </group>

        </section>

    </system>
</config>
